body{
    
}
.header{
    background-image: url('assets/images/bg-immaapp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 450px;
}
.hero .h2{
  font-size: 80px;
  font-weight: 900;
  color: blue;
  margin: 45px;
  float: right;
  margin-: ;
}

